:root {
  --primary: #5673ac;
  --primary-hover: #3b547c;
  --primary-rgb: 66, 133, 244;
  --brand-blue: #4285f4;
  --brand-yellow: #fbbc05;
  --danger: #ea4335;
  --warning: #fbbc05;
  --success: #34a853;
  --bg: #000;
  --bg-light: #111;
  --bg-hover: #222;
  --modal-footer: rgb(60 64 67);
  --border: #5f6368;
  --border-light: #303134;
  --text-primary: #fff;
  --text-secondary: #ccc;
  --text-link: #8ab4f8;
  --text-link-visited: #c58af9;
  --text-cite: #bdc1c6;
  --text-snippet: #bdc1c6;
  --search-bar-bg: #303134;
  --search-bar-bg-hover: #303134;
  --btn-bg: #303134;
  --btn-text: var(--text-primary);
  --overlay-bg: rgba(0, 0, 0, 0.6);
  --white: #fff;
}
